*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    height: 5vh;
    width: 100vw;
    background-color: grey;
    padding-top: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
ul{
    display: flex;
    justify-content: space-evenly;
}

ul li{
    list-style: none;
}